$btn-color:$base-color;
$btn-alt-color:$base-background-color;
%button {
  position: relative;
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  color:$white;
  display: inline-block;
  
  font-weight: 900;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  @include transition(background 0.1s linear);
  &:hover {
    color: white;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &:after {
    content: '';
  }
}

.btn {
  @extend %button;
  background-color: $btn-color;
  color:$white;
  border:1px solid $btn-color;
  &:hover {
    background-color: $base-background-color;
    color: $btn-color;
  }
  &:after {
    background-color: darken($btn-color, 10%);
  }
}

.btn-alt {
  @extend %button;
  background-color: $btn-alt-color;
  color: $btn-color;
  border:1px solid $btn-color;
  &:hover {
    background-color: $btn-color;
    color: $base-background-color;
    border:1px solid $btn-color;
  }
  &:after {
    background-color: darken($btn-color, 10%);
  }
}

button,
input[type="submit"] {
  @extend .btn;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

//Icon Buttons
%btn-ico {
  @extend %button;
  padding-right: 4em;
  &:after {
    content: '';
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    position: absolute;
    background-position: center center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    @include transition(background 0.1s linear);
  }
  &:hover {
    &:after {
      background-size: 2em;
    }
  }
}

.btn-download {
  @extend %btn-ico;
  @extend .btn;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

.btn-alt-download {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

.btn-arrow {
  @extend %btn-ico;
  @extend .btn;
  &:after {
    background-image: url(img/ico-white-arrow-right.svg);
  }
}

.btn-alt-arrow {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-white-arrow-right.svg);
  }
}
