.site-wrap {
  background: $black;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  @include display(flex); //sticky footer
  @include flex-direction(column); //sticky footer
  min-height: 100%; //sticky footer
}


/*=============== Site Header ===============*/

.site-header-wrap {
  //background-image:url(img/bg-site-intro.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.site-header {
  @include transition (all .2s ease-in-out);
  @include mq(large) {
    height: em(120);
  }
}

.site-logo {
  display: inline-block;
  margin-bottom: em(14);
  @include transition (all .5s ease-in-out);
  img {
    display: block;
  }
  @include mq(medium) {
    padding-left: em(6);
    float: left;
    max-width: em(265);
    width: 100%;
    margin-bottom: 0;
  }
  @include mq(large) {
    padding-left: 0;
    max-width: em(259);
  }
}

.sh-sticky-wrap {
  text-align: center;
  border-bottom: 6px solid $blue;
  @include transition (all .5s ease-in-out);
  > .inner-wrap {
    padding-top: em(15);
    padding-bottom: em(19);
  }
  @include mq(medium) {
    text-align: left;
    > .inner-wrap {
      padding-bottom: em(17);
    }
  }
  @include mq(large) {
    height: $nav-height*2.142857;
    background-color: $black;
    &.stuck {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 1000;
      box-shadow: 0 0px 10px 0px $black;
      height: $nav-height*1.512455;
      .nav-wrap {
        padding-top: em(11);
      }
      .sh-utility-nav {
        height: 0;
      }
      .site-logo {
        max-width: em(180);
      }
    }
  }
}

.sh-utility-nav {
  overflow: hidden;
  @include transition (all .5s ease-in-out);
  .social-wrap {
    width: 15em;
    display: none;
  }
  @include mq(medium) {
    text-align: right;
    float: right;
    line-height: em(31);
    padding-right: em(6);
    .social-wrap {
      display: inline-block;
    }
  }
  @include mq(large) {
    float: none;
    padding-right: 0;
    height: em(35);
  }
}

.site-search {}

//Site Header Icons
.sh-icons {
  //float: right;
  display: block;
  margin-top: em(13);
  @include mq(medium) {
    margin-top: em(14);
  }
  @include mq(large) {
    display: none;
  }
}

%sh-ico {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center;
  //background-color:red;
  text-decoration: none;
  span {
    font-size: .75em;
  }
  @include mq(medium) {
    //float:right;
  }
}

.sh-ph {
  margin: 0;
  font-size: em(26);
  color: $white;
  text-decoration: none;
  font-weight: 600;
  margin-right: em(13, 26);
  i {
    font-style: normal;
    //display:none;
  }
  &:hover{
    color:$white;
  }
  @include mq(medium) {
    //font-size: $medium-font-size;
    i {
      //display:inline;
    }
  }
}

.sh-ico-search {
  background-image: url(img/ico-search.svg);
  @extend %sh-ico;
}

.sh-ico-menu {
  @extend %sh-ico;
  background-image: url(img/ico-nav.png);
  background-position: right center;
  padding-right: em(25);
  padding-top: 0;
  width: auto;
  margin-left: 0;
  line-height: em(18);
  span {
    font-size: $base-font-size;
    color: $white;
  }
  @include mq(large) {
    display: none;
  }
}


/*=============== Site Intro ===============*/

.site-intro {
  text-align: center;
  > .inner-wrap {
    padding-top: $baseline*9.375;
    padding-bottom: $baseline*6.5;
  }
  @include mq(medium) {
    > .inner-wrap {
      padding-top: $baseline*9.25;
      padding-bottom: $baseline*6;
    }
  }
  @include mq(large) {
    > .inner-wrap {
      padding-top: $baseline*10.125;
      text-align: right;
    }
  }
}

.si-header {
  font-size: $display-font-size;
  line-height: em(44, 42);
  span {
    font-size: em(26, 42);
    display: block;
    font-weight: 300;
    text-transform: none;
  }
  @include mq(medium) {
    font-size: em(46);
    padding: 0 em(27, 46);
    line-height: em(47, 46);
    span {
      font-size: em(30, 46);
    }
  }
  @include mq(large) {
    padding: 0;
  }
}

.site-dest-intro {
  text-align: center;
  .inner-wrap {
    @include mq(large) {
      padding-top: em(86);
      padding-bottom: 0;
    }
  }
  .section-header {
    @include display-font-size;
  }
}


/*=============== Site Content ===============*/

//Layout formatting is in patterns.scss
.site-content {
  @include flex(1 0 auto); //sticky footer
  padding-bottom: em(50);
  @include mq(medium) {
    padding-bottom: em(32);
  }
  @include mq(large) {
    padding-bottom: em(49);
  }
}

.site-content-primary {
  > p {
    line-height: em(30, 18);
    margin-bottom: em(30, 18);
    margin-top: em(20, 18);
  }
}

.site-content-secondary {}


/*=============== Site Footer ===============*/

.site-footer {
  background-color: $black;
  text-align: center;
  color: $white;
  border-top: 12px solid $blue;
  padding-top: em(39);
  padding-bottom: em(39);
  @include mq(medium) {
    padding-top: em(28);
    padding-bottom: em(28);
  }
  @include mq(large) {
    text-align: left;
    background-image: url(img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    padding-top: em(24);
    padding-bottom: em(37);
  }
}

.sf-primary {
  font-size: $small-font-size;
  line-height: em(32, 17);
  @include mq(large) {
    float: left;
  }
}

.sf-company-name {
  font-size: em(19, 17);
  font-weight: 900;
  line-height: em(22, 17);
  margin-bottom: em(4, 17);
  text-transform: uppercase;
}

.sfp-ph {
  display: block;
  > a {
    text-decoration: none;
  }
  @include mq(medium) {
    display: inline-block;
    padding-right: 1em;
  }
}

.sfp-nav {
  margin-top: em(33, 17);
  font-size: em(17, 17);
  > a {
    margin-right: em(17);
    &:last-child {
      margin-right: 0;
    }
  }
}

.sf-secondary {
  font-size: em(15);
  padding-top: em(40, 15);
  line-height: em(18, 15);
  p {
    font-size: em(15, 15);
    margin-bottom: em(22, 15);
  }
  @include mq(medium) {
    padding-top: em(80, 15);
  }
  @include mq(large) {
    float: right;
    text-align: right;
    padding-top: 0;
  }
}

.sf-small {
  background-color: $medium-gray;
  text-align: center;
  .inner-wrap {
    padding-top: $baseline*2;
    padding-bottom: $baseline*2;
  }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
  display: none;
}


/*=============== Search ===============*/

.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em;
}

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0;
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
}

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(img/ico-search.svg) no-repeat center center !important;
}

@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em;
  }
}

@include mq(large) {
  .search {}
  .search-text {}
}

.search-module {
  background-color: $base-color;
  height: 6em;
  margin-top: -6em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
  }
  .inner-wrap {
    padding: 0.3em 1.5em 1em;
  }
}

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  //position:absolute;
  top: 0;
  right: 0;
}


/*=============== Read More ===============*/

.main-content {
  display: block;
  overflow: hidden;
  position: relative;
  @include mq(medium) {
    display: inline;
  }
}

@include mq(small) {
  .height {
    max-height: em(250);
    &:before {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  .heightAuto {
    max-height: em(5000);
    &:before {
      display: none;
    }
  }
}

.link {
  display: block;
  text-align: center;
  font-weight: bold;
  color: $blue;
  padding-bottom: em(10);
  @include mq(medium) {
    display: none;
  }
}

.sh-email {
  display: inline-block;
  img {
    display: block;
  }
  &:hover {
    img {
      &.sh-email-img {
        display: none;
      }
      &.sh-email-img-hover {
        display: block;
      }
    }
  }
  @include mq(medium) {
    margin-right: em(1);
  }
}

img {
  &.sh-email-img-hover {
    display: none;
  }
}


/* === Services Section ===*/

.services-section {
  @include mq(medium) {
    > .inner-wrap {
      padding-top: em(14);
    }
  }
  @include mq(large) {
    > .inner-wrap {
      padding-top: em(20);
    }
  }
}

.ss-bucket {
  border: 1px solid $light-gray;
  display: inline-block;
  position: relative;
  margin-bottom: em(10);
  vertical-align: top;
  background-color: $dark-black;
  &:hover {
    border: 1px solid $blue;
    .ss-image {
      opacity: 1;
    }
    .ss-label {
      display: none;
    }
  }
}

.ss-image {
  opacity: 0.3;
  @include transition (all .2s ease-in-out);
  img {
    display: block;
    width: 100%;
  }
}

.ss-label {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.ss-left {
  text-align: center;
  .ss-label {
    font-size: em(36);
    font-weight: normal;
    line-height: em(42, 36);
    max-width: em(164, 36);
  }
  .ss-bucket {
    max-width: em(615);
    width: 100%;
  }
  @include mq(medium) {
    max-width: em(580);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    .ss-label {
      transform: translateY(-68%);
      padding-right: em(3, 36);
    }
    .ss-bucket {
      max-width: em(580);
    }
  }
  @include mq(large) {
    display: block;
    float: left;
    //margin: 0 0.9% 0 0;
    max-height: em(423);
    text-align: left;
    width: 47.4%;
    max-width: 100%;
    .ss-label {
      transform: translateY(-70%);
      padding-right: em(9, 36);
    }
    .ss-bucket {
      float: left;
      max-width: 100%;
    }
  }
}

.ss-right {
  text-align: center;
  .ss-label {
    font-size: em(19);
    max-width: em(119, 19);
    font-weight: normal;
    line-height: em(23, 19);
  }
  .ss-bucket {
    width: 48.1%;
    max-width: em(215);
    margin-right: em(7);
    &:nth-of-type(2n+2) {
      margin-right: 0;
    }
  }
  @include mq(medium) {
    max-width: em(580);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    .ss-bucket {
      max-width: em(185.6);
      margin-right: em(8);
      &:nth-of-type(2n+2) {
        margin-right: em(8);
      }
      &:nth-of-type(3n+3) {
        margin-right: 0 !important;
      }
    }
  }
  @include mq(large) {
    display: block;
    float: right;
    margin: 0;
    max-height: em(423);
    text-align: left;
    width: 51.8%;
    max-width: 100%;
    .ss-bucket {
      float: left;
      max-width: 100%;
      width: 32.13%;
      margin-right: 1.8%;
      margin-bottom: 1.4%;
      &:nth-of-type(2n+2) {
        margin-right: 1.8%;
      }
    }
  }
  include mq(xlarge) {
    .ss-bucket {
      margin-bottom: 1.4%;
    }
  }
}

.company-sentence-section {
  text-align: center;
  @include mq(medium) {
    > .inner-wrap {
      padding-top: em(26);
    }
  }
  @include mq(large) {
    > .inner-wrap {
      padding-top: em(12);
      padding-bottom: em(26);
    }
  }
}

.css-text {
  font-size: em(20);
  font-weight: normal;
  line-height: em(42, 20);
  margin-bottom: em(60, 20);
  @include mq(medium) {
    font-size: em(22);
    line-height: em(44, 22);
    margin-bottom: em(55, 22);
  }
  @include mq(large) {
    margin-bottom: em(59, 22);
  }
}

.btn-css-rfq {
  font-size: em(27);
  line-height: 1em;
  padding: em(14, 27) em(21, 27) em(19, 27) em(18, 27);
  &:active,
  &:focus {
    color: $black;
    background-color: $blue;
  }
}

.dest-img {
  text-align: center;
  img {
    border: 1px solid $light-gray;
  }
  @include mq(medium) {
    margin-top: em(24);
    text-align: none;
    max-width: 50%;
  }
  @include mq(medium) {
    max-width: auto;
  }
}

.spec-table {
  background-color: $brown;
  margin-top: em(67);
  padding: em(16) em(30);
  margin-bottom: 0;
  .tablesaw-stack tbody tr,
  td {
    border-bottom: 0px solid $brown;
  }
  .tablesaw td {
    font-size: em(18);
    font-weight: normal;
    padding-bottom: em(35, 18);
    vertical-align: top;
    line-height: em(21, 18);
    strong {
      font-weight: 700;
    }
  }
}

.site-print {
  clear: both;
  padding-top: em(17);
  text-align: center;
  @include mq(large) {
    text-align: right;
  }
}

.sp-item {
  padding-left: em(20);
  position: relative;
  font-size: 1em;
  line-height: 1.2em;
  display: inline-block;
  vertical-align: top;
  &:before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: left top;
    left: 0;
    top: em(3);
    width: em(15);
    height: em(15);
  }
}

.sp-print {
  margin-right: em(30);
  &:before {
    background-image: url(img/ico-print.png);
  }
}

.sp-email {
  &:before {
    background-image: url(img/ico-email-page.png);
  }
}

.page-intro {
  text-align: center;
  background-color: transparent;
  @include mq(large) {
    .inner-wrap {
      padding-top: em(82);
      padding-bottom: 0;
    }
  }
}

.btn-rfq {
  @extend .btn-css-rfq;
}

textarea,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select[multiple="multiple"],
select {
  height: em(47, 18);
  font-size: em(18, 18);
  color:#000000;
  font-weight: normal;
}
textarea{
  height: em(100);
}

input[type="submit"]{
  border:1px solid $blue;
  &:hover{
    border:1px solid $blue;
  }
}
.sitemap-menu{
  .sub-menu{
    margin-left: em(20);
    margin-bottom: em(10);
  }
}