// Typography
$base-font-family: 'Cairo',
sans-serif;
$header-font-family: $base-font-family;
// Font Sizes
$small-font-size: em(17);
$base-font-size: em(18);
$medium-font-size: em(21);
$large-font-size: em(24);
$xlarge-font-size: em(28);
$display-font-size: em(42);
// Line height
$baseline:em(8); //Old habits die hard
$base-line:em(8);
$base-line-height: 1.5;
$header-line-height: 1.25;
// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;
// Colors
$white:#ffffff;
$black:#171717;
$dark-black:#000;
$blue: #0094FB;
$green:#00ad49;
$gray:#a0a0a0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #7c7c7c;
$brown:#202020;
// Base Colors
$base-color:$blue;
$base-accent-color:$white;
$base-font-color: $white;
$base-background-color: $black;
// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: $base-color;
// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black, 0.06);
$form-box-shadow-focus: $form-box-shadow,
0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
// Navigation Default/Desktop
$nav-font-size:$base-font-size;
$nav-height:em(56.2);
$nav-background:$black;
$nav-text-color:$white;
$nav-text-color-hover:$nav-background;
$nav-hover:$blue;
$nav-border:0px solid lighten($nav-background, 5%);
$nav-spacing:$baseline*1.5;
$nav-subnav-font-size:$small-font-size;
$nav-subnav-height:em(56);
$nav-subnav-background:$brown;
$nav-subnav-border:0px solid lighten($nav-hover, 10%);
$nav-subnav-hover:$nav-subnav-background;
$nav-subnav-text-color-hover:$blue;
// Navigation Medium/Tablet
$nav-font-size-medium:$nav-font-size;
$nav-height-medium:$nav-height;
$nav-background-medium:$nav-background;
$nav-text-color-medium:$nav-text-color;
$nav-text-color-hover-medium:$nav-text-color-hover;
$nav-hover-medium:$nav-hover;
$nav-border-medium:$nav-border;
$nav-spacing-medium:$nav-spacing*2.6666;
$nav-subnav-font-size-medium:$nav-subnav-font-size;
$nav-subnav-height-medium:$nav-subnav-height*0.6428;
$nav-subnav-background-medium:$nav-subnav-background;
$nav-subnav-border-medium:$nav-subnav-border;
$nav-subnav-hover-medium:$nav-subnav-hover;
// Navigation Small/Mobile
$nav-font-size-mobile:$nav-font-size;
$nav-height-mobile:$nav-height*0.71428;
$nav-width-mobile:17em;
$nav-background-mobile:$nav-subnav-background;
$nav-text-color-mobile:$nav-text-color;
$nav-text-color-hover-mobile:$nav-text-color-hover;
$nav-hover-mobile:$nav-hover;
$nav-border-mobile:$nav-border;
$nav-spacing-mobile:$baseline*2.375;
$nav-subnav-font-size-mobile:$nav-subnav-font-size;
$nav-subnav-height-mobile:$nav-height-mobile;
$nav-subnav-background-mobile:$nav-background;
$nav-subnav-border-mobile:$nav-subnav-border;
$nav-subnav-hover-mobile:$nav-subnav-hover;
$nav-active-background-mobile:$nav-hover-mobile;
