/*!
Theme Name: 	Default Template
Theme URI: 		http://julian.is
Description: 	Default theme for .
Version: 		1.0
Author: 		Julian Gaviria
Author URI: 	julian.is
Tags: 			starkers, naked, clean, basic, html5, boilerplate, sass, smacss
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013-2014 thoughtbot, inc.
 * MIT License */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
This class is supposed to be assigned to the parent of items you need organized. Example below:
<div class="rows-of-2">
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
</div>
This would give you 2 rows with 2 columns.
*/
.rows-of-2 {
  display: block; }
  .rows-of-2::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-2 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%; }
        .rows-of-2 > *:last-child {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n) {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n+1) {
          clear: left; }
        .rows-of-2 > *:nth-last-child(2):last-child {
          margin-bottom: 0 !important; }
        .rows-of-2 > *:nth-last-child(1):last-child {
          margin-bottom: 0 !important; } }

.lt-ie9 .rows-of-2 {
  display: block; }
  .lt-ie9 .rows-of-2::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-2 > * {
        float: left;
        width: 50% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em;
        display: inline-block !important;
        clear: none !important; } }

.rows-of-3 {
  display: block; }
  .rows-of-3::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-3 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .rows-of-3 > *:last-child {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n) {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n+1) {
          clear: left; } }

.lt-ie9 .rows-of-3 {
  display: block; }
  .lt-ie9 .rows-of-3::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-3 > * {
        float: left;
        width: 33.3% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

.rows-of-4 {
  display: block; }
  .rows-of-4::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-4 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%; }
        .rows-of-4 > *:last-child {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n) {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n+1) {
          clear: left; } }

.lt-ie9 .rows-of-4 {
  display: block; }
  .lt-ie9 .rows-of-4::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-4 > * {
        float: left;
        width: 25% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

@media (max-width: 40em) {
  .mobile-rows-of-2 {
    display: block; }
    .mobile-rows-of-2::after {
      clear: both;
      content: "";
      display: table; }
    .mobile-rows-of-2 > * {
      margin-bottom: 1.5em;
      display: block;
      position: relative;
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      .mobile-rows-of-2 > * > *:first-child {
        margin-top: 0; }
      .mobile-rows-of-2 > *:nth-last-child(1) {
        background-color: red;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:nth-last-child(2) {
        background-color: green;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:last-child {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n) {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n+1) {
        clear: left; } }

.row {
  display: block;
  clear: both; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

@media (min-width: 40em) {
  .col-1 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 6.1721527019%; }
    .col-1:last-child {
      margin-right: 0; }
  .col-2 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%; }
    .col-2:last-child {
      margin-right: 0; }
  .col-3 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .col-3:last-child {
      margin-right: 0; }
  .col-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .col-4:last-child {
      margin-right: 0; }
  .col-5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .col-5:last-child {
      margin-right: 0; }
  .col-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .col-6:last-child {
      margin-right: 0; }
  .col-7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .col-7:last-child {
      margin-right: 0; }
  .col-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .col-8:last-child {
      margin-right: 0; }
  .col-9 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .col-9:last-child {
      margin-right: 0; }
  .col-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%; }
    .col-10:last-child {
      margin-right: 0; }
  .col-11 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 91.4701957002%; }
    .col-11:last-child {
      margin-right: 0; }
  .col-12 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-12:last-child {
      margin-right: 0; }
  .col-last {
    margin-right: 0;
    margin-right: 0 !important; } }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }
  @media (max-height: 46em) and (min-width: 60em) {
    body {
      font-size: .875em; } }
  @media (max-height: 40em) and (min-width: 60em) {
    body {
      font-size: .75em; } }

.display-font-size {
  font-size: 1.875em; }
  @media (min-width: 40em) {
    .display-font-size {
      font-size: 2.25em; } }
  @media (min-width: 60em) {
    .display-font-size {
      font-size: 2.5em; } }

.xlarge-font-size {
  font-size: 1.5em; }
  @media (min-width: 40em) {
    .xlarge-font-size {
      font-size: 1.8em; } }
  @media (min-width: 60em) {
    .xlarge-font-size {
      font-size: 2em; } }

.large-font-size {
  font-size: 0.984375em; }
  @media (min-width: 40em) {
    .large-font-size {
      font-size: 1.18125em; } }
  @media (min-width: 60em) {
    .large-font-size {
      font-size: 1.6875em; } }

.medium-font-size {
  font-size: 1em;
  margin-bottom: 2em;
  margin-top: 1.75em; }
  @media (min-width: 40em) {
    .medium-font-size {
      font-size: 1.125em; } }
  @media (min-width: 60em) {
    .medium-font-size {
      font-size: 1.3125em; } }

.base-font-size {
  font-size: 1em; }
  @media (min-width: 40em) {
    .base-font-size {
      font-size: 1.125em; } }
  @media (min-width: 60em) {
    .base-font-size {
      font-size: 1.125em; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.25;
  margin: 0; }

h1 {
  font-size: 1.875em;
  margin-top: 0;
  margin-bottom: 24px;
  color: #477DCA; }
  @media (min-width: 40em) {
    h1 {
      font-size: 2.25em; } }
  @media (min-width: 60em) {
    h1 {
      font-size: 2.5em; } }

h2 {
  font-size: 1.5em;
  margin-top: 24px;
  margin-bottom: 16px; }
  @media (min-width: 40em) {
    h2 {
      font-size: 1.8em; } }
  @media (min-width: 60em) {
    h2 {
      font-size: 2em; } }

h3 {
  font-size: 0.984375em;
  margin-top: 24px;
  margin-bottom: 16px; }
  @media (min-width: 40em) {
    h3 {
      font-size: 1.18125em; } }
  @media (min-width: 60em) {
    h3 {
      font-size: 1.6875em; } }

h4 {
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 16px; }
  @media (min-width: 40em) {
    h4 {
      font-size: 1.125em; } }
  @media (min-width: 60em) {
    h4 {
      font-size: 1.3125em; } }

h5 {
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 16px; }
  @media (min-width: 40em) {
    h5 {
      font-size: 1.125em; } }
  @media (min-width: 60em) {
    h5 {
      font-size: 1.125em; } }

h6 {
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 16px; }
  @media (min-width: 40em) {
    h6 {
      font-size: 1.125em; } }
  @media (min-width: 60em) {
    h6 {
      font-size: 1.125em; } }

p {
  margin: 16px 0;
  font-size: 1em; }

.emph, .section-header-wrap p, .page-intro p {
  font-size: 1.3125em;
  font-weight: normal; }
  @media (min-width: 40em) {
    .emph, .section-header-wrap p, .page-intro p {
      font-size: 1.509375em; } }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #00ad49;
  text-decoration: underline; }
  a:hover {
    color: #006129; }
  a:active, a:focus {
    color: #006129;
    outline: none; }

hr {
  border-bottom: 1px solid #eeeeee;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  padding: 0;
  margin: 0; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

/* 
Forms
Lists
Tables 
*/
/* Forms */
fieldset {
  background: white;
  border: 1px solid #eeeeee;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
select {
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0;
  border: 1px solid #eeeeee;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  select:hover {
    border-color: #d5d4d4; }
  textarea:focus,
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  select:focus {
    border-color: #00ad49;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 148, 62, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
  width: auto !important; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  height: 2.3em !important;
  width: 100%; }

.hs-form fieldset {
  max-width: 100% !important;
  background-color: transparent !important; }

.hs-form fieldset.form-columns-1 .hs-input {
  width: 100% !important; }

.hs-error-msgs {
  color: red; }

/* Lists */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

ul:not([class]) {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  ul:not([class]) li:not([class]) {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.5em; }
    ul:not([class]) li:not([class]) a {
      text-decoration: none;
      font-weight: normal; }
    ul:not([class]) li:not([class]):after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: .45em;
      background-repeat: no-repeat; }

.bullet-style {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .bullet-style li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.5em; }
    .bullet-style li a {
      text-decoration: none;
      font-weight: normal; }
    .bullet-style li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: .45em;
      background-repeat: no-repeat; }

ol {
  clear: left;
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  ol li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1.125em;
    line-height: 1.5em; }
    ol li a {
      text-decoration: none;
      font-weight: normal; }

/* Tables */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #c8c8c8;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

/*=============== Spec Tables ===============*/
.spec-table {
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
  background: white; }

.spec-thead {
  display: block; }

.spec-table-row {
  display: block;
  width: 100%; }

.spec-cell {
  display: block;
  border: 0.2em solid #ffffff;
  padding: .5em .8em;
  vertical-align: top; }
  .spec-cell p {
    margin: .5em 0; }
  .spec-cell > ul {
    margin: .5em 0; }
    .spec-cell > ul > li {
      margin-bottom: 0 !important; }
      .spec-cell > ul > li ul {
        padding: 0 0 0 1.8em; }
  .spec-cell input,
  .spec-cell select {
    width: 100%; }

.spec-col {
  display: table-column; }

.spec-col-1 {
  width: 100%; }

.spec-col-2 {
  width: 100%; }

@media (min-width: 40em) {
  .spec-table {
    display: table; }
  .spec-thead {
    display: table-header-group; }
  .spec-table-row {
    display: table-row; }
  .spec-cell {
    display: table-cell; }
    .spec-cell p {
      font-size: 1em; }
  .spec-spec-col-1 {
    width: 30%; }
  .spec-spec-col-2 {
    width: 70%; } }

.btn, button,
input[type="submit"], .btn-download, .btn-arrow, .product-grid-item-link, .btn-alt, .btn-alt-download, .btn-alt-arrow {
  position: relative;
  -webkit-font-smoothing: antialiased;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear; }
  .btn:hover, button:hover,
  input[type="submit"]:hover, .btn-download:hover, .btn-arrow:hover, .product-grid-item-link:hover, .btn-alt:hover, .btn-alt-download:hover, .btn-alt-arrow:hover {
    color: white; }
  .btn:disabled, button:disabled,
  input[type="submit"]:disabled, .btn-download:disabled, .btn-arrow:disabled, .product-grid-item-link:disabled, .btn-alt:disabled, .btn-alt-download:disabled, .btn-alt-arrow:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
  .btn:after, button:after,
  input[type="submit"]:after, .btn-download:after, .btn-arrow:after, .product-grid-item-link:after, .btn-alt:after, .btn-alt-download:after, .btn-alt-arrow:after {
    content: ''; }

.btn, button,
input[type="submit"], .btn-download, .btn-arrow, .product-grid-item-link {
  background-color: #00ad49; }
  .btn:hover, button:hover,
  input[type="submit"]:hover, .btn-download:hover, .btn-arrow:hover, .product-grid-item-link:hover {
    background-color: #007a33; }
  .btn:after, button:after,
  input[type="submit"]:after, .btn-download:after, .btn-arrow:after, .product-grid-item-link:after {
    background-color: #007a33; }

.btn-alt, .btn-alt-download, .btn-alt-arrow {
  background-color: #477DCA; }
  .btn-alt:hover, .btn-alt-download:hover, .btn-alt-arrow:hover {
    background-color: #3264ac; }
  .btn-alt:after, .btn-alt-download:after, .btn-alt-arrow:after {
    background-color: #3264ac; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-download, .btn-alt-download, .btn-arrow, .btn-alt-arrow {
  padding-right: 4em; }
  .btn-download:after, .btn-alt-download:after, .btn-arrow:after, .btn-alt-arrow:after {
    content: '';
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    position: absolute;
    background-position: center center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear; }
  .btn-download:hover:after, .btn-alt-download:hover:after, .btn-arrow:hover:after, .btn-alt-arrow:hover:after {
    background-size: 2em; }

.btn-download:after {
  background-image: url(img/ico-download.svg); }

.btn-alt-download:after {
  background-image: url(img/ico-download.svg); }

.btn-arrow:after {
  background-image: url(img/ico-white-arrow-right.svg); }

.btn-alt-arrow:after {
  background-image: url(img/ico-white-arrow-right.svg); }

.site-nav,
#hs_menu_wrapper_primary_nav {
  background-color: #477DCA; }
  .site-nav span,
  #hs_menu_wrapper_primary_nav span {
    white-space: nowrap; }
  @media (min-width: 40em) {
    .site-nav,
    #hs_menu_wrapper_primary_nav {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      background-color: #477DCA; } }
  @media (min-width: 60em) {
    .site-nav,
    #hs_menu_wrapper_primary_nav {
      background-color: #477DCA; } }

.sn-level-1,
#hs_menu_wrapper_primary_nav > ul {
  margin: 0;
  padding: 0; }
  @media (min-width: 40em) {
    .sn-level-1,
    #hs_menu_wrapper_primary_nav > ul {
      height: 3.125em;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; } }

.sn-li-l1,
.hs-menu-depth-1 {
  display: block;
  border-bottom: 1px solid #5b8bd0;
  background-color: #477DCA;
  position: relative; }
  .sn-li-l1 span,
  .hs-menu-depth-1 span {
    font-size: 1em; }
  .sn-li-l1 > a,
  .hs-menu-depth-1 > a {
    display: block;
    height: 3.125em;
    line-height: 3.125em;
    color: #ffffff;
    text-decoration: none;
    padding: 0 1em; }
    .sn-li-l1 > a:visited,
    .hs-menu-depth-1 > a:visited {
      color: #ffffff; }
    .sn-li-l1 > a:hover,
    .hs-menu-depth-1 > a:hover {
      color: #ffffff; }
  .sn-li-l1.has-subnav .m-subnav-arrow, .sn-li-l1.menu-item-has-children .m-subnav-arrow, .sn-li-l1.hs-item-has-children .m-subnav-arrow,
  .hs-menu-depth-1.has-subnav .m-subnav-arrow,
  .hs-menu-depth-1.menu-item-has-children .m-subnav-arrow,
  .hs-menu-depth-1.hs-item-has-children .m-subnav-arrow {
    cursor: pointer;
    display: none;
    display: none; }
    @media (max-width: 40em) {
      .sn-li-l1.has-subnav .m-subnav-arrow, .sn-li-l1.menu-item-has-children .m-subnav-arrow, .sn-li-l1.hs-item-has-children .m-subnav-arrow,
      .hs-menu-depth-1.has-subnav .m-subnav-arrow,
      .hs-menu-depth-1.menu-item-has-children .m-subnav-arrow,
      .hs-menu-depth-1.hs-item-has-children .m-subnav-arrow {
        padding-right: 0em;
        background-image: url(img/ico-arrow-down.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0.75em;
        display: block;
        width: 40px;
        position: absolute;
        background-color: #3b75c7;
        right: 0;
        top: 0;
        bottom: 0; }
        .sn-li-l1.has-subnav .m-subnav-arrow.active, .sn-li-l1.menu-item-has-children .m-subnav-arrow.active, .sn-li-l1.hs-item-has-children .m-subnav-arrow.active,
        .hs-menu-depth-1.has-subnav .m-subnav-arrow.active,
        .hs-menu-depth-1.menu-item-has-children .m-subnav-arrow.active,
        .hs-menu-depth-1.hs-item-has-children .m-subnav-arrow.active {
          transform: rotate(180deg); } }
  .sn-li-l1.has-subnav > a span, .sn-li-l1.menu-item-has-children > a span, .sn-li-l1.hs-item-has-children > a span,
  .hs-menu-depth-1.has-subnav > a span,
  .hs-menu-depth-1.menu-item-has-children > a span,
  .hs-menu-depth-1.hs-item-has-children > a span {
    padding-right: 0em;
    background-image: url(img/ico-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 0.75em;
    display: block; }
  .sn-li-l1.has-subnav > a.active span, .sn-li-l1.menu-item-has-children > a.active span, .sn-li-l1.hs-item-has-children > a.active span,
  .hs-menu-depth-1.has-subnav > a.active span,
  .hs-menu-depth-1.menu-item-has-children > a.active span,
  .hs-menu-depth-1.hs-item-has-children > a.active span {
    transform: rotate(180deg); }
  .sn-li-l1:hover,
  .hs-menu-depth-1:hover {
    background-color: #3264ac; }
  @media (min-width: 40em) {
    .sn-li-l1,
    .hs-menu-depth-1 {
      height: 3.125em;
      float: left;
      border-bottom: 0;
      border-right: 1px solid #5b8bd0;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      flex-grow: 1;
      -ms-flex-positive: 1;
      text-align: center;
      /*
    &:nth-child(1n) {
      width:20%;
    }
    &:nth-child(2n) {
      width:20%;
    }
    &:nth-child(3n) {
      width:20%;
    }
    &:nth-child(4n) {
      width:20%;
    }
    &:nth-child(5n) {
      width:20%;
    }*/ }
      .sn-li-l1 span,
      .hs-menu-depth-1 span {
        font-size: 1em; }
      .sn-li-l1 > a,
      .hs-menu-depth-1 > a {
        padding: 0 0.5em;
        color: #ffffff; }
        .sn-li-l1 > a:hover,
        .hs-menu-depth-1 > a:hover {
          color: #ffffff; }
      .sn-li-l1:hover .sn-level-2,
      .sn-li-l1:hover .hs-menu-children-wrapper,
      .hs-menu-depth-1:hover .sn-level-2,
      .hs-menu-depth-1:hover .hs-menu-children-wrapper {
        display: block; }
      .sn-li-l1.has-subnav > a span, .sn-li-l1.menu-item-has-children > a span, .sn-li-l1.hs-item-has-children > a span,
      .hs-menu-depth-1.has-subnav > a span,
      .hs-menu-depth-1.menu-item-has-children > a span,
      .hs-menu-depth-1.hs-item-has-children > a span {
        padding-right: 1em;
        background-size: 0.625em;
        display: inline; }
      .sn-li-l1.has-subnav > a.active span, .sn-li-l1.menu-item-has-children > a.active span, .sn-li-l1.hs-item-has-children > a.active span,
      .hs-menu-depth-1.has-subnav > a.active span,
      .hs-menu-depth-1.menu-item-has-children > a.active span,
      .hs-menu-depth-1.hs-item-has-children > a.active span {
        background-image: url(img/ico-arrow-down.svg); }
      .sn-li-l1:hover,
      .hs-menu-depth-1:hover {
        background-color: #3264ac; } }
  @media (min-width: 60em) {
    .sn-li-l1,
    .hs-menu-depth-1 {
      border-right: 1px solid #5b8bd0; }
      .sn-li-l1 span,
      .hs-menu-depth-1 span {
        font-size: 1em; }
      .sn-li-l1 > a,
      .hs-menu-depth-1 > a {
        padding: 0 0.5em;
        color: #ffffff; }
        .sn-li-l1 > a:hover,
        .hs-menu-depth-1 > a:hover {
          color: #ffffff; }
      .sn-li-l1:hover,
      .hs-menu-depth-1:hover {
        background-color: #3264ac; } }

.sn-level-2,
.hs-menu-children-wrapper {
  padding: 0;
  margin: 0;
  display: none;
  position: relative; }
  .sn-level-2.active,
  .hs-menu-children-wrapper.active {
    display: block; }
  @media (min-width: 40em) {
    .sn-level-2,
    .hs-menu-children-wrapper {
      position: absolute; }
      .sn-level-2.active,
      .hs-menu-children-wrapper.active {
        display: none; } }

.sn-li-l2, .sn-li-l3,
.hs-menu-depth-2 {
  background-color: #3264ac; }
  .sn-li-l2 > a, .sn-li-l3 > a,
  .hs-menu-depth-2 > a {
    padding: 0 1em;
    color: #ffffff;
    border-top: 1px solid #477dca;
    display: block;
    text-decoration: none;
    line-height: 3.125em; }
    .sn-li-l2 > a span, .sn-li-l3 > a span,
    .hs-menu-depth-2 > a span {
      font-size: 1em;
      line-height: 1.25em;
      display: inline-block;
      vertical-align: middle; }
  .sn-li-l2:last-child > a, .sn-li-l3:last-child > a,
  .hs-menu-depth-2:last-child > a {
    border-bottom: 0; }
  .sn-li-l2:hover, .sn-li-l3:hover,
  .hs-menu-depth-2:hover {
    background-color: #264d85; }
  @media (min-width: 40em) {
    .sn-li-l2, .sn-li-l3,
    .hs-menu-depth-2 {
      position: relative;
      background-color: #3264ac; }
      .sn-li-l2 > a, .sn-li-l3 > a,
      .hs-menu-depth-2 > a {
        padding: 0 0.5em;
        line-height: 3.125em;
        border-top: 1px solid #477dca;
        border-right: 1px solid #477dca; }
        .sn-li-l2 > a span, .sn-li-l3 > a span,
        .hs-menu-depth-2 > a span {
          font-size: 1em; }
      .sn-li-l2:hover, .sn-li-l3:hover,
      .hs-menu-depth-2:hover {
        background-color: #264d85; }
        .sn-li-l2:hover .sn-level-3, .sn-li-l3:hover .sn-level-3,
        .hs-menu-depth-2:hover .sn-level-3 {
          display: block;
          margin: -1.5625em;
          padding: 1.5625em; } }
  @media (min-width: 60em) {
    .sn-li-l2, .sn-li-l3,
    .hs-menu-depth-2 {
      background-color: #3264ac; }
      .sn-li-l2 > a, .sn-li-l3 > a,
      .hs-menu-depth-2 > a {
        padding: 0 0.5em;
        line-height: 3.125em;
        border-top: 1px solid #477dca;
        border-right: 1px solid #477dca; }
        .sn-li-l2 > a span, .sn-li-l3 > a span,
        .hs-menu-depth-2 > a span {
          font-size: 1em; }
      .sn-li-l2:hover, .sn-li-l3:hover,
      .hs-menu-depth-2:hover {
        background-color: #264d85; } }

.sn-level-3 {
  padding: 0;
  margin: 0;
  padding-top: 1px;
  display: none;
  position: relative; }
  .sn-level-3.active {
    display: block; }
  @media (min-width: 40em) {
    .sn-level-3 {
      position: absolute;
      top: 0;
      left: 100%; }
      .sn-level-3.active {
        display: none; } }

.site-nav-container {
  background-color: #477DCA;
  width: 17em;
  height: 100%;
  right: -17em;
  top: 0;
  bottom: 0;
  z-index: 1000;
  position: absolute;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .site-nav-container.active {
    right: 0; }
  @media (min-width: 40em) {
    .site-nav-container {
      width: auto;
      height: auto;
      right: auto;
      bottom: auto;
      top: auto;
      position: static;
      background-color: transparent; } }

.site-nav-container-screen {
  position: absolute;
  display: none;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .site-nav-container-screen.active {
    display: block; }
  @media (min-width: 40em) {
    .site-nav-container-screen {
      display: none !important; } }

.close-menu {
  display: inline-block;
  clear: both;
  position: relative;
  text-align: center;
  color: #477DCA !important;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  padding: 0.25em 1em;
  padding-right: 1.5625em;
  margin: 0 auto;
  font-size: 0.875em;
  background-color: #ffffff;
  border-radius: 0.1875em; }
  .close-menu:visited {
    color: #ffffff; }
  .close-menu:hover {
    color: #ffffff; }
  .close-menu:after {
    content: '';
    background-color: transparent;
    background-image: url(img/ico-exit.svg);
    background-size: 0.8125em 0.8125em;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 1.5625em;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute; }
  @media (min-width: 40em) {
    .close-menu {
      display: none; } }

.snc-header {
  text-align: center;
  padding: 1em; }
  @media (min-width: 40em) {
    .snc-header {
      padding: 0; } }

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/
.inner-wrap, .inner-wrap-narrow, .inner-wrap-wide, .inner-wrap-fullwidth {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em 1.5em 1em; }
  .inner-wrap::after, .inner-wrap-narrow::after, .inner-wrap-wide::after, .inner-wrap-fullwidth::after {
    clear: both;
    content: "";
    display: table; }
  .inner-wrap > *:first-child, .inner-wrap-narrow > *:first-child, .inner-wrap-wide > *:first-child, .inner-wrap-fullwidth > *:first-child {
    margin-top: 0; }
  .inner-wrap > *:last-child, .inner-wrap-narrow > *:last-child, .inner-wrap-wide > *:last-child, .inner-wrap-fullwidth > *:last-child {
    margin-bottom: 0; }
  @media (min-width: 40em) {
    .inner-wrap, .inner-wrap-narrow, .inner-wrap-wide, .inner-wrap-fullwidth {
      padding: 2.5em 1.5em 2.5em 1.5em; } }

.inner-wrap-narrow {
  max-width: 62.5em; }

.inner-wrap-wide {
  max-width: 87.5em; }

.inner-wrap-fullwidth {
  max-width: 100%; }

/*=============== Sections ===============*/
.section-header-wrap {
  background-color: #eeeeee; }
  .section-header-wrap .inner-wrap, .section-header-wrap .inner-wrap-narrow, .section-header-wrap .inner-wrap-wide, .section-header-wrap .inner-wrap-fullwidth {
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
  .section-header-wrap h1 {
    margin: 0; }
  .section-header-wrap p {
    margin: .5em 0 0 0; }

.section-cta {
  text-align: center; }

/*=============== Media Object ===============*/
.media-object {
  overflow: hidden; }

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%; }
  .media-object-img img {
    width: 100%; }

.media-object-body {
  width: 75%;
  float: left; }

.media-object-header {
  margin-top: 0;
  margin-bottom: .15em; }

.media-grid-2 > * {
  margin-bottom: 1em; }

@media (min-width: 40em) {
  .media-grid-2 > * {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 48.4157821556%;
    margin-bottom: 1.5em; }
    .media-grid-2 > *:last-child {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n) {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n+1) {
      clear: left; } }

/*======= Responsive iFrame / YouTube / HTML5 Video =======*/
.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 1.8em; }
  .iframe-container iframe, .iframe-container object, .iframe-container embed, .iframe-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/*=============== Click to Expand ===============*/
.click-expand {
  border: 1px solid #eeeeee;
  clear: both;
  overflow: hidden;
  margin-bottom: 1.5em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .click-expand.active:hover {
    background-color: #ffffff; }
  .click-expand.active .ce-header:after {
    content: '-'; }
  .click-expand.active .ce-body {
    display: block;
    opacity: 1;
    -webkit-animation: click-expand 0.5s 1;
    -moz-animation: click-expand 0.5s 1;
    animation: click-expand 0.5s 1;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-delay: 0.05s;
    -moz-animation-delay: 0.05s;
    animation-delay: 0.05s;
    padding: 0 12px 1.5em 12px;
    display: block; }
    .click-expand.active .ce-body > *:first-child {
      margin-top: 0; }
    .click-expand.active .ce-body > *:last-child {
      margin-bottom: 0; }
  .click-expand:hover {
    background-color: #eeeeee; }

.ce-header {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0.75em;
  padding-bottom: 0.75em; }
  .ce-header:after {
    content: '+';
    color: #00ad49;
    padding-left: 8px;
    position: absolute;
    right: 0.3125em; }

.ce-body {
  display: none;
  opacity: 0; }

@-webkit-keyframes click-expand {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes click-expand {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes click-expand {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*=============== Social Media Icons ===============*/
.social-wrap {
  overflow: hidden;
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/ }
  .social-wrap a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    position: relative; }
    .social-wrap a path {
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      transition: all 0.1s linear; }
    .social-wrap a:hover {
      opacity: .75; }
      .social-wrap a:hover path {
        fill: #477DCA; }
  .social-wrap img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle; }
  .social-wrap svg {
    display: inline-block;
    vertical-align: middle; }

/*=============== Slide Panel ===============*/
.slide-panel {
  display: none;
  position: fixed;
  background: #333;
  color: #fff;
  height: 100%;
  width: 21.25em;
  right: -21.25em;
  top: 14%;
  z-index: 10;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out; }
  .slide-panel h2 {
    padding: .2em 1em; }
  .slide-panel p {
    background: #333;
    padding: .25px 2em; }
  .slide-panel label {
    color: #ffffff !important; }
  .slide-panel:hover {
    right: 0px; }
  @media (min-width: 40em) {
    .slide-panel {
      display: block; } }

.slide-panel-button {
  position: absolute;
  top: 50px;
  right: 340px;
  padding: 20px 20px;
  background: #333;
  min-width: 200px; }

/*=============== Slide Box ===============*/
#last {
  margin: 0;
  padding: 0; }

#slidebox {
  padding: 0.625em 0.625em 0.625em 1em;
  position: fixed;
  bottom: 0;
  right: -26.875em;
  z-index: 1000;
  width: 100%;
  background-color: #477DCA; }
  @media (min-width: 40em) {
    #slidebox {
      width: auto; } }

a.close {
  background-color: white;
  color: #477DCA;
  text-align: center;
  float: left;
  padding: 0 0.5em;
  font-size: 0.6875em;
  border-radius: 0.1875em;
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em; }

a.close:hover {
  background-color: rgba(255, 255, 255, 0.75); }

/*=============== Accordion Tabs ===============*/
.accordion-tabs {
  line-height: 1.5;
  margin-bottom: 1.5em;
  padding: 0 !important; }
  .accordion-tabs::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 40em) {
    .accordion-tabs {
      border-radius: 0;
      border: 1px solid #eeeeee; } }
  .accordion-tabs .tab-header-and-content {
    list-style: none;
    margin-bottom: 0; }
    .accordion-tabs .tab-header-and-content:after {
      display: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-header-and-content {
        display: inline; } }
    .accordion-tabs .tab-header-and-content:first-child .tab-link {
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
      @media screen and (max-width: 40em) {
        .accordion-tabs .tab-header-and-content:first-child .tab-link {
          border-top: 0; } }
    @media screen and (max-width: 40em) {
      .accordion-tabs .tab-header-and-content:last-child .tab-link {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; } }
  .accordion-tabs .tab-link {
    background-color: rgba(255, 255, 255, 0);
    border-top: 1px solid #eeeeee;
    color: #333;
    display: block;
    font-weight: bold;
    font-size: 1.3125em;
    padding: 0.75em 0.809em;
    text-decoration: none;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    border-bottom: 0; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-link {
        display: inline-block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0; } }
    .accordion-tabs .tab-link:hover {
      color: #00ad49;
      border-bottom: 0; }
    .accordion-tabs .tab-link:focus {
      outline: none; }
    .accordion-tabs .tab-link.is-active {
      background-color: white; }
      @media screen and (min-width: 40em) {
        .accordion-tabs .tab-link.is-active {
          background-color: white;
          border: 1px solid #eeeeee;
          border-bottom-color: white;
          margin-bottom: -1px; } }
  .accordion-tabs .tab-content {
    background: white;
    display: none;
    padding: 1.5em 1.618em;
    width: 100%; }
    .accordion-tabs .tab-content > *:first-child {
      margin-top: 0; }
    .accordion-tabs .tab-content > *:last-child {
      margin-bottom: 0; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-content {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid #eeeeee;
        float: left; } }

/*=============== HubSpot Thumbnail Slider Gallery  ===============*/
.hs_cos_gallery_thumbnails .hs_cos_gallery_slide:hover {
  cursor: pointer; }

.hs_cos_gallery_thumbnails img {
  height: 3.75em;
  object-fit: cover;
  border: 1px solid #eeeeee; }

.hs_cos_gallery_thumbnails .slick-current img {
  border: 1px solid #00ad49; }

/*=============== Misc ===============*/
hr {
  display: block;
  clear: both; }

figure {
  margin: 0;
  padding: 0; }

.wp-pagenavi > * {
  margin-right: .75em; }

/*=============== Lightbox / Magnific Popup  ===============*/
.white-popup {
  position: relative;
  background: #ffffff;
  padding: 2.5em;
  width: auto;
  max-width: 37.5em;
  margin: 1.25em auto; }
  .white-popup > * {
    margin-top: 0; }

.mfp-fade-side .mfp-content, .mfp-fade-side .white-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto; }

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px); }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px); }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px); }

/*=============== Layouts  ===============*/
.page-intro {
  background-color: #eeeeee; }
  .page-intro .inner-wrap, .page-intro .inner-wrap-narrow, .page-intro .inner-wrap-wide, .page-intro .inner-wrap-fullwidth {
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
  .page-intro h1 {
    margin: 0; }
  .page-intro p {
    margin: .5em 0 0 0; }

@media (min-width: 60em) {
  .site-content.one-column .site-content-primary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-right: 0; }
    .site-content.one-column .site-content-primary:last-child {
      margin-right: 0; }
  .site-content.one-column .site-content-secondary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-right: 0; }
    .site-content.one-column .site-content-secondary:last-child {
      margin-right: 0; }
  .site-content.two-column .site-content-primary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .site-content.two-column .site-content-primary:last-child {
      margin-right: 0; }
  .site-content.two-column .site-content-secondary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
    margin-right: 0; }
    .site-content.two-column .site-content-secondary:last-child {
      margin-right: 0; }
  .site-content.three-column .site-content-primary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .site-content.three-column .site-content-primary:last-child {
      margin-right: 0; }
  .site-content.three-column .site-content-secondary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .site-content.three-column .site-content-secondary:last-child {
      margin-right: 0; }
  .site-content.three-column .additional-content {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    margin-right: 0; }
    .site-content.three-column .additional-content:last-child {
      margin-right: 0; }
  .site-content.two-column-alt .site-content-primary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .site-content.two-column-alt .site-content-primary:last-child {
      margin-right: 0; }
  .site-content.two-column-alt .site-content-secondary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    margin-right: 0; }
    .site-content.two-column-alt .site-content-secondary:last-child {
      margin-right: 0; } }

/*=============== Product Grid ===============*/
.product-grid {
  clear: both; }

.product-grid-item {
  font-size: .875em;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  padding: 1em;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  overflow: hidden;
  display: block;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .product-grid-item:hover {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999; }
    .product-grid-item:hover .product-grid-item-img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.07);
      -o-transform: scale(1.07);
      transform: scale(1.07); }
  @media (min-width: 40em) {
    .product-grid-item {
      font-size: .75em;
      margin-bottom: 1.5em; } }
  @media (min-width: 60em) {
    .product-grid-item {
      font-size: 1em; } }

@media (min-width: 40em) {
  .product-grid-item-header-wrap {
    height: 4em;
    line-height: 4em;
    margin-bottom: 1em; }
    .product-grid-item-header-wrap .product-grid-item-header {
      display: inline-block;
      vertical-align: middle; } }

@media (min-width: 60em) {
  .product-grid-item-header-wrap {
    height: 4em;
    line-height: 4em; } }

.product-grid-item-header {
  font-size: 1.125em;
  color: #477DCA;
  text-decoration: none;
  margin: 0 0 0 0;
  width: 70%;
  float: right;
  text-align: left;
  clear: none; }
  @media (min-width: 40em) {
    .product-grid-item-header {
      width: auto;
      float: none;
      text-align: center; } }

.product-grid-item-subheader {
  color: #000000;
  margin: 0 0 1em 0;
  width: 70%;
  float: right;
  text-align: left;
  clear: none;
  font-size: 0.9375em; }
  @media (min-width: 40em) {
    .product-grid-item-subheader {
      width: auto;
      float: none;
      text-align: center; } }
  @media (min-width: 60em) {
    .product-grid-item-subheader {
      min-height: 3em; } }

.product-grid-item-img {
  float: left;
  width: 25%;
  margin-top: -1em;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  @media (min-width: 40em) {
    .product-grid-item-img {
      margin-top: 0;
      float: none;
      width: auto; } }

.product-grid-item-link {
  margin: 1em 0 0 0;
  float: right;
  text-align: left;
  clear: none;
  font-size: .75em; }
  @media (min-width: 40em) {
    .product-grid-item-link {
      width: auto;
      float: none;
      text-align: center; } }

/*=============== Product Carousel ===============*/
@media (max-width: 40em) {
  .product-item {
    float: left;
    display: block;
    margin-right: 4.8291579146%;
    width: 47.5854210427%; }
    .product-item:last-child {
      margin-right: 0; }
    .product-item:nth-child(2n) {
      margin-right: 0; }
    .product-item:nth-child(2n+1) {
      clear: left; } }

@media (min-width: 40em) {
  .product-item {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .product-item:last-child {
      margin-right: 0; } }

/*=============== Resources Module ===============*/
.resources-module {
  background-color: #ffffff; }

.rm-item-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (min-width: 40em) {
    .rm-item-wrap {
      -webkit-box-lines: single;
      -moz-box-lines: single;
      box-lines: single;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; } }
  .rm-item-wrap > * {
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    box-flex: auto;
    -webkit-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    flex: auto; }
    @media (min-width: 40em) {
      .rm-item-wrap > * {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1; } }

.rm-item {
  text-align: center;
  background-color: #eeeeee;
  padding: 1em !important; }
  .rm-item:hover .rm-item-img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  @media (min-width: 40em) {
    .rm-item {
      margin-bottom: 0; } }

.rm-item-cta {
  font-size: .75em;
  font-weight: bold; }

.rm-item-img {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  margin-bottom: 1em; }
  .rm-item-img img {
    max-width: 100%;
    object-fit: contain;
    height: 19.375em; }

.rm-item-title {
  text-decoration: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  text-align: center;
  height: 2.5em;
  line-height: 2.5em;
  color: #477DCA;
  position: relative;
  z-index: 10; }
  .rm-item-title span {
    line-height: 1.25em;
    display: inline-block;
    color: #477DCA; }

/* ===== DEFAULTS FOR ALL BLOGS =====  */
.fb_iframe_widget span {
  height: 24px !important; }

#recaptcha_table {
  table-layout: initial !important;
  height: 126px;
  overflow: hidden;
  margin-bottom: 1em; }

.blog-pagination {
  font-size: 1.7em;
  font-weight: bold; }
  .blog-pagination a {
    margin-right: 2em;
    text-decoration: none; }

.more-link {
  font-size: 1.4em;
  text-decoration: none; }

.post-item {
  border-bottom: 5px solid #eeeeee;
  padding-bottom: 2em;
  margin-bottom: 2em; }

.hs-author-avatar {
  float: left;
  margin-right: 1.5em; }
  .hs-author-avatar img {
    border-bottom: 1px solid #adadad; }

.hs-author-social-label {
  font-size: 1.3em; }

.hs-author-bio {
  font-size: 1.3em;
  line-height: 1.5em;
  margin-bottom: 1em; }

.hs-author-profile {
  background: #F2F2F2;
  padding: .2em 2em 2em 2em; }

.hs-author-listing-header {
  padding-top: 1em;
  margin-top: .3em;
  color: #b9b9b9; }

.hs-author-social-links a {
  text-decoration: none; }

.hs-author-social-links img {
  opacity: .7;
  width: 1.875em;
  height: 1.875em; }
  .hs-author-social-links img:hover {
    opacity: 1; }

/*   end defaults   */
.site-wrap {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  min-height: 100%; }

/*=============== Site Header ===============*/
.site-header-wrap {
  background-image: url(img/bg-site-intro.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

@media (min-width: 60em) {
  .sh-sticky-wrap {
    height: 3.125em; }
    .sh-sticky-wrap.stuck .site-nav-container {
      position: fixed;
      left: 0;
      right: 0;
      top: 0; } }

.sh-utility-nav {
  overflow: hidden; }
  .sh-utility-nav .social-wrap {
    width: 15em;
    display: none; }
  @media (min-width: 40em) {
    .sh-utility-nav {
      text-align: right;
      float: right; }
      .sh-utility-nav .social-wrap {
        display: inline-block; } }

.sh-icons {
  float: right; }

.sh-ico-search, .sh-ico-menu {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center;
  text-decoration: none; }
  .sh-ico-search span, .sh-ico-menu span {
    font-size: .75em; }

.sh-ph {
  margin: 0; }
  .sh-ph i {
    font-style: normal; }
  @media (min-width: 40em) {
    .sh-ph {
      font-size: 1.3125em; } }

.sh-ico-search {
  background-image: url(img/ico-search.svg); }

.sh-ico-menu {
  background-image: url(img/ico-nav.svg); }
  @media (min-width: 40em) {
    .sh-ico-menu {
      display: none; } }

/*=============== Site Intro ===============*/
.site-intro {
  text-align: center; }
  .site-intro .inner-wrap, .site-intro .inner-wrap-narrow, .site-intro .inner-wrap-wide, .site-intro .inner-wrap-fullwidth {
    padding-top: 10em;
    padding-bottom: 10em; }

/*=============== Site Content ===============*/
.site-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

/*=============== Site Footer ===============*/
.site-footer {
  background-color: #477DCA;
  text-align: center;
  color: #ffffff; }

.sf-small {
  background-color: #999;
  text-align: center; }
  .sf-small .inner-wrap, .sf-small .inner-wrap-narrow, .sf-small .inner-wrap-wide, .sf-small .inner-wrap-fullwidth {
    padding-top: 1em;
    padding-bottom: 1em; }

img[name=pphLoggerImage] {
  display: none; }

/*=============== Search ===============*/
.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0; }

.search-row {
  display: table-row;
  width: 100%; }

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em; }

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0; }

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important; }

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(img/ico-search.svg) no-repeat center center !important; }

@media (min-width: 40em) {
  .site-search {
    width: 100%; }
  .search-text {
    height: 2.3em; }
  .search-submit {
    height: 2.3em; } }

.search-module {
  background-color: #477DCA;
  height: 6em;
  margin-top: -6em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .search-module.active {
    margin-top: 0; }
  .search-module .inner-wrap, .search-module .inner-wrap-narrow, .search-module .inner-wrap-wide, .search-module .inner-wrap-fullwidth {
    padding: 0.3em 1.5em 1em; }

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  top: 0;
  right: 0; }

/*=============== Read More ===============*/
.main-content {
  display: block;
  overflow: hidden;
  position: relative; }
  @media (min-width: 40em) {
    .main-content {
      display: inline; } }

@media (max-width: 40em) {
  .height {
    max-height: 15.625em; }
    .height:before {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1; }
  .heightAuto {
    max-height: 312.5em; }
    .heightAuto:before {
      display: none; } }

.link {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #477DCA;
  padding-bottom: 0.625em; }
  @media (min-width: 40em) {
    .link {
      display: none; } }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.alignright {
  display: block;
  padding-bottom: 1.5em; }

.alignleft {
  display: block;
  padding-bottom: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

@media (min-width: 40em) {
  .alignright {
    display: block;
    float: right;
    padding-bottom: 1.5em;
    padding-left: 1.5em; }
  .alignleft {
    display: block;
    float: left;
    padding-bottom: 1.5em;
    padding-right: 1.5em; }
  .aligncenter {
    display: block;
    margin: 0 auto; } }

.text-alignright {
  text-align: right; }

.text-alignleft {
  text-align: left; }

.text-aligncenter {
  text-align: center; }

.clearboth {
  clear: both;
  display: block; }

.spacing-bottom {
  margin-bottom: 2em; }

.spacing-top {
  margin-top: 2em; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts - Removed
*********************************/
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0;
  background: transparent;
  border: 0;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 125em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 57%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  left: 10px; }

.flexslider:hover .flex-next {
  right: 10px; }

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  display: block;
  content: '';
  height: 2.5em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-image: url(img/ico-arrow-left.svg); }

/*{ font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }*/
.flex-direction-nav a.flex-next:before {
  background-image: url(img/ico-arrow-right.svg); }

/*{ content: '\f002'; }*/
/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/*
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
*/
.flex-direction-nav .flex-prev {
  opacity: .3;
  left: 10px; }

.flex-direction-nav .flex-next {
  opacity: .3;
  right: 10px; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/*! Tablesaw - v1.0.2 - 2014-12-17
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2014 Filament Group; Licensed MIT */
table.tablesaw {
  empty-cells: show;
  max-width: 100%;
  width: 100%; }

.tablesaw {
  border-collapse: collapse;
  width: 100%; }

/* Structure */
.tablesaw {
  border: 0;
  padding: 0; }

.tablesaw th,
.tablesaw td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em .7em; }

.tablesaw thead tr:first-child th {
  padding-top: .9em;
  padding-bottom: .7em; }

/* Table rows have a gray bottom stroke by default */
.tablesaw-stack tbody tr {
  border-bottom: 1px solid #dfdfdf; }

.tablesaw-stack td .tablesaw-cell-label,
.tablesaw-stack th .tablesaw-cell-label {
  display: none; }

/* Mobile first styles: Begin with the stacked presentation at narrow widths */
@media only all {
  /* Show the table cells as a block level element */
  .tablesaw-stack td,
  .tablesaw-stack th {
    text-align: left;
    display: block; }
  .tablesaw-stack tr {
    clear: both;
    display: table-row; }
  /* Make the label elements a percentage width */
  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label {
    display: block;
    padding: 0 .6em 0 0;
    width: 30%;
    display: inline-block; }
  /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
  .tablesaw-stack th .tablesaw-cell-label-top,
  .tablesaw-stack td .tablesaw-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0; }
  .tablesaw-cell-label {
    display: block; }
  /* Avoid double strokes when stacked */
  .tablesaw-stack tbody th.group {
    margin-top: -1px; }
  /* Avoid double strokes when stacked */
  .tablesaw-stack th.group b.tablesaw-cell-label {
    display: none !important; } }

@media (max-width: 39.9375em) {
  .tablesaw-stack thead td,
  .tablesaw-stack thead th {
    display: none; }
  .tablesaw-stack tbody td,
  .tablesaw-stack tbody th {
    clear: left;
    float: left;
    width: 100%; }
  .tablesaw-cell-label {
    vertical-align: top; }
  .tablesaw-cell-content {
    max-width: 67%;
    display: inline-block; }
  .tablesaw-stack td:empty,
  .tablesaw-stack th:empty {
    display: none; } }

/* Media query to show as a standard table at 560px (35em x 16px) or wider */
@media (min-width: 40em) {
  .tablesaw-stack tr {
    display: table-row; }
  /* Show the table header rows */
  .tablesaw-stack td,
  .tablesaw-stack th,
  .tablesaw-stack thead td,
  .tablesaw-stack thead th {
    display: table-cell;
    margin: 0; }
  /* Hide the labels in each cell */
  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label {
    display: none !important; } }

/* Anything HubSpot Related */
.hs-error-msgs {
  color: #C02F2F; }

/*! {% include "hubspot/styles/responsive/required_base.css" %}*/
/*!
[hubspot-metadata]
{
    "path": "custom/page/web_page_basic/style.css"
}
[end-hubspot-metadata]
*/
